<%= render "shared/header" %>

<h1>しおり新規作成</h1>

<%= form_with model: @bookmark, url: @bookmarks, id: "additional-item-form", local: true  do |form| %>
<div class="form-wrapper">
  <div class="field-bookmark">
    <%= form.label :destination, "目的地", class: "input-field" %>
    <%= form.text_field :destination, class: "destination-input", placeholder: "京都" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :departure_date, "出発日", class: "input-field" %>
    <%= form.date_field :departure_date, class: "departure-date-input" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :return_date, "帰着日", class: "input-field" %>
    <%= form.date_field :return_date, class: "return-date-input" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :members, "人数", class: "input-field" %>
    <%= form.number_field :members, class: "members-input", placeholder: "3" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :name, "しおり名", class: "input-field" %>
    <%= form.text_field :name, class: "name-input", placeholder: "夏の旅行" %>
  </div>
    </div>

<% 20.times do |i| %>
  <div class="form-wrapper">
    <%= form.fields_for "schedules_attributes[#{i}]" do |schedule_form| %>
      <div class="field-bookmark">
        <%= schedule_form.label :day, "日付", class: "input-field" %>
        <%= schedule_form.date_field :day, id: "day_#{i+1}" %>
        <br>
        <%= schedule_form.label :time, "時間", class: "input-field" %>
        <%= schedule_form.time_select :time, id: "time_#{i+1}", class: "time-select" %>
        <br>
        <%= schedule_form.label :location, "場所", class: "input-field" %>
        <%= schedule_form.text_field :location, id: "location_#{i+1}", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
        <br>
        <%= schedule_form.label :description, "詳細", class: "input-field" %>
        <%= schedule_form.text_field :description, id: "description_#{i+1}", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
        <br>
      </div>
    <% end %>
  </div>
<% end %>



<div class="actions">
  <%= form.submit "保存", class: "save-btn" %>
</div>
<% end %>



