<%= render "shared/header" %>

<h1>しおり新規作成</h1>

<%= form_with model: @bookmark, url: @bookmarks, id: "additional-item-form", local: true  do |form| %>
<div class="form-wrapper">
  <div class="field-bookmark">
    <%= form.label :destination, "目的地", class: "input-field" %>
    <%= form.text_field :destination, class: "destination-input", placeholder: "京都" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :departure_date, "出発日", class: "input-field" %>
    <%= form.date_field :departure_date, class: "departure-date-input" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :return_date, "帰着日", class: "input-field" %>
    <%= form.date_field :return_date, class: "return-date-input" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :members, "人数", class: "input-field" %>
    <%= form.number_field :members, class: "members-input", placeholder: "3" %>
  </div>

  <div class="field-bookmark">
    <%= form.label :name, "しおり名", class: "input-field" %>
    <%= form.text_field :name, class: "name-input", placeholder: "夏の旅行" %>
  </div>
    </div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_1, "日付", class: "input-field" %>
  <%= form.date_field :day_1, id: "day_1" %>
  <br>
  <%= form.label :time_1, "時間", class: "input-field" %>
  <%= form.time_select :time_1, id: "time_1", class: "time-select" %>
  <br>
  <%= form.label :location_1, "場所", class: "input-field" %>
  <%= form.text_field :location_1, id: "location_1", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_1, "詳細", class: "input-field" %>
  <%= form.text_field :description_1, id: "description_1", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_2, "日付", class: "input-field" %>
  <%= form.date_field :day_2, id: "day_2" %>
  <br>
  <%= form.label :time_2, "時間", class: "input-field" %>
  <%= form.time_select :time_2, id: "time_2", class: "time-select" %>
  <br>
  <%= form.label :location_2, "場所", class: "input-field" %>
  <%= form.text_field :location_2, id: "location_2", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_2, "詳細", class: "input-field" %>
  <%= form.text_field :description_2, id: "description_2", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_3, "日付", class: "input-field" %>
  <%= form.date_field :day_3, id: "day_3" %>
  <br>
  <%= form.label :time_3, "時間", class: "input-field" %>
  <%= form.time_select :time_3, id: "time_3", class: "time-select" %>
  <br>
  <%= form.label :location_3, "場所", class: "input-field" %>
  <%= form.text_field :location_3, id: "location_3", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_3, "詳細", class: "input-field" %>
  <%= form.text_field :description_3, id: "description_3", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_4, "日付", class: "input-field" %>
  <%= form.date_field :day_4, id: "day_4" %>
  <br>
  <%= form.label :time_4, "時間", class: "input-field" %>
  <%= form.time_select :time_4, id: "time_4", class: "time-select" %>
  <br>
  <%= form.label :location_4, "場所", class: "input-field" %>
  <%= form.text_field :location_4, id: "location_4", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_4, "詳細", class: "input-field" %>
  <%= form.text_field :description_4, id: "description_4", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_5, "日付", class: "input-field" %>
  <%= form.date_field :day_5, id: "day_5" %>
  <br>
  <%= form.label :time_5, "時間", class: "input-field" %>
  <%= form.time_select :time_5, id: "time_5", class: "time-select" %>
  <br>
  <%= form.label :location_5, "場所", class: "input-field" %>
  <%= form.text_field :location_5, id: "location_5", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_5, "詳細", class: "input-field" %>
  <%= form.text_field :description_5, id: "description_5", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_6, "日付", class: "input-field" %>
  <%= form.date_field :day_6, id: "day_6" %>
  <br>
  <%= form.label :time_6, "時間", class: "input-field" %>
  <%= form.time_select :time_6, id: "time_6", class: "time-select" %>
  <br>
  <%= form.label :location_6, "場所", class: "input-field" %>
  <%= form.text_field :location_6, id: "location_6", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_6, "詳細", class: "input-field" %>
  <%= form.text_field :description_6, id: "description_6", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="form-wrapper">
<div class="field-bookmark">
  <%= form.label :day_7, "日付", class: "input-field" %>
  <%= form.date_field :day_7, id: "day_7" %>
  <br>
  <%= form.label :time_7, "時間", class: "input-field" %>
  <%= form.time_select :time_7, id: "time_7", class: "time-select" %>
  <br>
  <%= form.label :location_7, "場所", class: "input-field" %>
  <%= form.text_field :location_7, id: "location_7", placeholder: "〒542-0071 大阪府大阪市中央区道頓堀１丁目" %>
  <br>
  <%= form.label :description_7, "詳細", class: "input-field" %>
  <%= form.text_field :description_7, id: "description_7", class: "description-field", placeholder: "滞在時間ややりたいことをメモ代わりに書いておく" %>
  <br>
</div>
</div>

<div class="actions">
  <%= form.submit "保存", class: "save-btn" %>
</div>
<% end %>



