<%= render "shared/header" %>

<h1>New Travel</h1>

  <%= form_with model: @bookmark, url: bookmarks_path, id: "additional-item-form" do |form| %>
  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "destination-input" %>
  </div>

  <div class="field">
    <%= form.label :departure_date %>
    <%= form.date_field :departure_date, class: "departure-date-input" %>
  </div>

  <div class="field">
    <%= form.label :return_date %>
    <%= form.date_field :return_date, class: "return-date-input" %>
  </div>

  <div class="field">
    <%= form.label :members %>
    <%= form.number_field :members, class: "members-input" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "name-input" %>
  </div>
     <%= render partial: "form", locals: { form: form } %>

          <div class="actions">
  <%= form.submit "Save", class: "btn btn-primary save-btn" %>
</div>
    <button class="add-btn">追加ボタン</button>
  <% end %>



