<%= render "shared/header" %>
<div class='main'>

  <%# アプリ解説部分 %>
<div class='title-contents'>
  <div class='text-container'>
    <h2 class='service-title'>
      旅行行きたいけど場所決めれない！
    </h2>
    <p class='service-explain'>
      Travelはだれでもかんたんに旅のしおりを作れる
    </p>
    <p class='service-explain'>
      旅しおり作成アプリです
    </p>
  </div>
</div>
  <%# アプリ解説部分  %>

  <%# 旅しおり作成方法部分 %>
    <h2 class='title'>
      旅しおりの作成方法
    </h2>
  <div class='select-reason-contents-right'>
    <div class="text-container">
      <ul class='reason-lists'>
        <li class='list'>
          <h3 class='reason-list-text'>1.しおり新規作成をしていきましょう</h3>
            <p>
              ・行き先(都道府県)<br> 
              ・出発日<br>
              ・帰着日<br>
              ・メンバー(人数)<br>
              ・旅行名(しおりの名前)
            </p>
        </li>
      </ul>
    </div>
      <div class="image-container">
        <img src="<%= asset_path('travel3.png') %>" alt="Travel Image" class="right-image">
      </div>
  </div>
  <%# //旅しおり作成方法部分 %>

    <%# 旅しおり作成方法部分 %>
  <div class='select-reason-contents-right'>
    <div class="text-container">
      <ul class='reason-lists'>
        <li class='list'>
          <h3 class='reason-list-text'>1.しおり新規作成をしていきましょう</h3>
            <p>
              ・行き先(都道府県)<br> 
              ・出発日<br>
              ・帰着日<br>
              ・メンバー(人数)<br>
              ・旅行名(しおりの名前)
            </p>
        </li>
      </ul>
    </div>
      <div class="image-container">
        <img src="<%= asset_path('travel3.png') %>" alt="Travel Image" class="right-image">
      </div>
  </div>
  <%# //旅しおり作成方法部分 %>


    <%# 旅しおり作成方法部分 %>
   <div class='select-reason-contents-right'>
    <div class="text-container">
      <ul class='reason-lists'>
        <li class='list'>
          <h3 class='reason-list-text'>1.しおり新規作成をしていきましょう</h3>
            <p>
              ・行き先(都道府県)<br> 
              ・出発日<br>
              ・帰着日<br>
              ・メンバー(人数)<br>
              ・旅行名(しおりの名前)
            </p>
        </li>
      </ul>
    </div>
      <div class="image-container">
        <img src="<%= asset_path('travel3.png') %>" alt="Travel Image" class="right-image">
      </div>
  </div>
    <%# //旅しおり作成方法部分 %>

     <%# 旅しおり作成方法部分 %>
   <div class='select-reason-contents-right'>
    <div class="text-container">
      <ul class='reason-lists'>
        <li class='list'>
          <h3 class='reason-list-text'>1.しおり新規作成をしていきましょう</h3>
            <p>
              ・行き先(都道府県)<br> 
              ・出発日<br>
              ・帰着日<br>
              ・メンバー(人数)<br>
              ・旅行名(しおりの名前)
            </p>
        </li>
      </ul>
    </div>
      <div class="image-container">
        <img src="<%= asset_path('travel3.png') %>" alt="Travel Image" class="right-image">
      </div>
  </div>
    <%# //旅しおり作成方法部分 %>

      <%# 旅しおり作成ボタン部分 %>
<%= link_to new_bookmark_path, class: "purchase-btn", style: "text-decoration: none;" do %>
  <span class="purchase-btn-text">しおり作成</span>
  <%= image_tag "click-1263.png", size: "185x50", class: "purchase-btn-icon" %>
<% end %>
      <%# //旅しおり作成ボタン部分 %>

