<!DOCTYPE html>
<html>
  <head>
    <title>TravelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<% if !(current_page?(new_user_session_path) || current_page?(new_user_registration_path))  %><!-- ログインや新規登録のページでない場合の条件 -->
  <div class="header" style="background-image: url(<%= asset_path('travel3.png') %>);">
    <nav class="navbar">
      <h2 class="logo"><a href="index.html">Travel</a></h2>
      <ul class="menu">
        <% if user_signed_in? %> <!-- ユーザーがログインしている場合の条件 -->
          <li><a href="#">目的地検索</a></li>
          <li><a href="siori.html">しおり</a></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :get, class: "logout" %></li>
        <% else %> <!-- ユーザーが未ログインの場合の条件 -->
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
<% end %>

<%= yield %>

    <script src="/path/to/script.js"></script>
  </body>
</html>
